@charset "UTF-8";
@keyframes fingerPress {
  0%, 100% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(0.6);
  }
}
.c-brand--form__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.c-brand--form__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.c-brand--form__item > * {
  display: flex;
  flex: 1 1 auto;
}

.requiredIcon {
  color: #c00;
  margin-right: 0.5rem;
}

.reviewTable .reviewTable__wrap {
  padding: 0;
}

#facebox .fieldTxt {
  margin-top: 1rem;
}
#facebox .body {
  color: black;
}
#facebox input {
  background: white;
  border: 1px solid;
  padding: 1rem;
}
#facebox input[type=text] {
  margin-bottom: 1rem;
}
#facebox input[type=button] {
  border: 3px solid black;
  background: black;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
#facebox input[type=button]:focus, #facebox input[type=button]:hover {
  color: black;
  background: white;
}

.FormHeadlineL {
  display: none;
}

.c-brand--form__fieldset {
  border: 0;
}

.dtm__in .checkout-option {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 2rem 0.5rem;
  margin: -0.5rem;
  margin: 0;
}
.dtm__in .checkout-option > * {
  margin: 0.5rem;
}
.dtm__in .checkout-option label {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: -0.5rem;
  min-width: 0;
  flex: 1 1 auto;
}
.dtm__in .checkout-option label > * {
  margin: 0.5rem;
}
.dtm__in .checkout-option img {
  min-width: 0;
  flex: 0 0 10rem;
  max-width: 10rem;
  min-height: 4rem;
}
.dtm__in .checkout-option [for=otCARD] img {
  flex: 0 0 5rem;
  max-width: 5rem;
  min-height: 2rem;
}

#dtm .checkout-option__img {
  margin: 0;
}
#dtm .checkout-option img {
  width: auto;
  height: auto;
}

.dtm__in .checkout-option {
  padding: 0.5rem;
  margin: 0.5rem;
  flex: 1 1 100%;
  flex-wrap: wrap;
}
.dtm__in .checkout-option [for=otCARD] img {
  flex: 0 0 3rem;
  max-width: 3rem;
  min-height: 2rem;
}

.paypal__note {
  flex: 1 1 100%;
}

.form {
  min-width: 0;
}
.form__title {
  font-size: 3.6rem;
  text-align: center;
  margin: 1rem;
}
@media all and (max-width: 1200px) {
  .form__title {
    font-size: clamp(2.5rem, 7vw, 3.6rem);
  }
}
.form__is-hidden {
  display: none;
}
.form__contain {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  border: solid transparent;
  border-width: 3px;
  min-width: 0;
  min-inline-size: 0;
}
.form__contain > * {
  flex: 0 1 auto;
}
.form__field {
  flex: 1;
  display: inline-flex;
  align-items: center;
  min-width: 0;
  padding: 1rem;
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  background: white;
  color: black;
  font-family: inherit;
}
.form__error {
  color: #c00;
  font-weight: bold;
}

.form__fieldset {
  border: 0;
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
}
.form__fieldset > * {
  margin: 1rem;
}
.form__fieldset > * {
  flex: 1 1 15rem;
}

.form__city-state-zip {
  align-items: flex-end;
}
.form__city-state-zip .form__field-label {
  flex: 1 1 20rem;
}
.form__cvv .form__field {
  flex: 0 1 20rem;
}
.form__cvv .form__link {
  align-self: center;
  flex: 0 1 auto;
  padding: 1rem;
  margin: 0 1rem;
  font-size: 1.5rem;
}
.form__field-label {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
}
.form__field-label > * + * {
  margin-top: 0.5rem;
}
.form__field-label > * {
  flex: 1 1 100%;
}
.form__field-label label {
  font-size: 1.6em;
  order: -1;
}
.form__field-label .form__field {
  border: 1px solid currentColor;
  background: white;
}
.form__field-label .form__label {
  font-size: 1.6em;
  order: -1;
}
.form__field-label .form__contain {
  border: 0;
}

.form--select .form__contain {
  position: relative;
}
.form--select .form__field {
  flex: 1;
}
@supports (height: auto) {
  .form--select .form__field {
    height: auto;
  }
}
.form--select .form__button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 6rem;
  min-height: 0;
  margin: 2px;
  height: calc(100% - 4px);
  pointer-events: none;
  justify-content: center;
  background: transparent;
  border: 0;
  outline: 0;
  background: white;
}
.form--select .form__button::before {
  content: "";
  height: 100%;
  width: 1px;
  background: currentColor;
  position: absolute;
  left: 0;
  top: 0;
}

.form__checkbox-label {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
}
.form__checkbox-label label {
  display: flex;
}
.form__checkbox-label input[type=checkbox],
.form__checkbox-label input[type=radio] {
  opacity: 0;
  position: absolute;
  padding: 0;
}
.form__checkbox-label input[type=checkbox] ~ .form__checkbox, .form__checkbox-label input[type=checkbox] ~ .form__label > .form__checkbox,
.form__checkbox-label input[type=radio] ~ .form__checkbox,
.form__checkbox-label input[type=radio] ~ .form__label > .form__checkbox {
  margin-right: 1rem;
}
.form__checkbox-label input[type=checkbox]:checked ~ .form__checkbox, .form__checkbox-label input[type=checkbox]:checked ~ .form__label > .form__checkbox,
.form__checkbox-label input[type=radio]:checked ~ .form__checkbox,
.form__checkbox-label input[type=radio]:checked ~ .form__label > .form__checkbox {
  background-image: url("data:image/svg+xml;charset=utf8,    %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E        %3Cpath fill='none' stroke-width='3px' stroke='white' d='M1.73,12.91 8.1,19.28 22.79,4.59'%3E%3C/path%3E    %3C/svg%3E");
  background-size: 0.9em 0.9em;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #7ac142;
}
.form__checkbox-label input[type=checkbox]:not(:checked) ~ .form__expando,
.form__checkbox-label input[type=radio]:not(:checked) ~ .form__expando {
  display: none;
}
.form__checkbox-label input[type=checkbox]:focus ~ .form__checkbox, .form__checkbox-label input[type=checkbox]:focus ~ .form__label > .form__checkbox,
.form__checkbox-label input[type=radio]:focus ~ .form__checkbox,
.form__checkbox-label input[type=radio]:focus ~ .form__label > .form__checkbox {
  outline: 3px solid;
}
.form__checkbox-label input[type=checkbox]:disabled ~ .form__label,
.form__checkbox-label input[type=radio]:disabled ~ .form__label {
  opacity: 0.5;
}
.form__checkbox {
  display: block;
  -webkit-appearance: none;
  border: 1px solid currentColor;
  border-radius: 100%;
  background: white;
  font-family: inherit;
  font-size: inherit;
  width: 1.25rem;
  height: 1.25rem;
  flex: 0 0 1.25rem;
  padding: 0;
  box-sizing: content-box;
  position: relative;
}
.form__checkbox {
  border-color: #267706;
  border-width: 0.1rem;
  background-color: #eef0ed;
  font-size: 0.75rem;
}

.form {
  z-index: 1;
}
.form__title {
  flex: 1 1 100%;
  font-size: 1em;
  font-weight: normal;
  text-align: left;
  padding: 1em;
  background: #232323;
  color: white;
}
.form__title::selection,
.form__title ::selection {
  background: white;
  color: #232323;
}
.form__title a:focus,
.form__title button:focus,
.form__title [tabindex="0"]:focus {
  outline-color: white;
}
.form__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  margin: -0.5rem;
}
.form__group > * {
  flex: 0 1 auto;
}
.form__group > * {
  margin: 0.5rem;
}
.form__group > * {
  flex: 1 1 13em;
}
.form__payment-icons {
  justify-content: flex-start;
}
.form__payment-icons > img {
  max-width: 37px;
}
.form__message {
  text-align: center;
}
.form__group-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  margin: -1em;
}
.form__group-section > * {
  flex: 0 1 auto;
}
.form__group-section > * {
  margin: 1em;
}
.form__group-section > * {
  flex: 1 1 23em;
}
.form__group, .form__group-section {
  overflow: visible;
}
.form__span-item {
  flex: 1 1 100%;
}
.form__fieldset {
  align-items: center;
  justify-content: space-between;
}
.form__item-input-label {
  flex: 0 1 auto;
}
.form__field-label {
  font-size: 1em;
}
.form__field-label label, .form__field {
  font-size: inherit;
}
.form__field {
  padding: 0.75em;
}
.form__cvv {
  align-items: center;
}
.form__cvv .form__field {
  flex-basis: 15rem;
}
.form__cvv .form__link {
  font-size: 1em;
}
.form__copy > * + * {
  margin-top: 1rem;
}
.form__action {
  margin-top: 2rem;
}
.form__action-text {
  text-align: center;
}
.form__info-accordion > :first-child {
  margin-bottom: 2rem;
}
.form label[for=zc] {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  margin: -0.5rem;
  align-items: center;
}
.form label[for=zc] > * {
  flex: 0 1 auto;
}
.form label[for=zc] > * {
  margin: 0.5rem;
}

.form--checkbox-label-stack .form__checkbox-label {
  flex-direction: column;
  align-items: center;
}
.form--checkbox-label-stack .form__checkbox-label > * + * {
  margin-top: 1rem;
}
.form--checkbox-label-stack .form__checkbox {
  margin-left: 1rem;
}
.form--checkbox-label-stack .form__label {
  display: flex;
}

.form--frame {
  outline: 1px solid;
}
.form--frame .form__fieldset {
  margin: -0;
}
.form--frame .form__fieldset > * {
  margin: 0;
}
.form--frame .form__frame {
  padding: 1rem;
}

.dtm__in .braintree-hosted-fields-focused {
  outline: 1px auto currentColor;
  box-shadow: none;
}
.dtm__in .braintree-hosted-fields-invalid {
  outline-color: #c00;
}
.dtm__in .braintree-hosted-fields-valid {
  outline-color: green;
}
.dtm__in .btHostedField {
  width: 100%;
  min-height: 4.6em;
  padding: 1em;
  border-color: currentColor;
  font-size: 11px;
  margin: 0;
}

.callout {
  text-align: center;
  letter-spacing: 10px;
  color: #859fb8;
  font: 800 1.5em termina, impact, sans-serif;
}
@media only screen and (max-width: 49.0625rem) {
  .callout {
    font-size: 1em;
  }
}

.order-table table {
  display: table;
  width: 100%;
  margin: 0;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  text-align: left;
}
.order-table tr {
  display: table-row;
}
.order-table th,
.order-table td {
  padding: 1em;
  vertical-align: top;
  line-height: 1.25;
  border: 1px solid currentColor;
}
.order-table th {
  font-weight: bold;
}
.order-table td:first-child {
  font-weight: bold;
}

.order-table {
  width: auto;
}
.order-table th {
  background: black;
  color: white;
}
.order-table td {
  background: white;
}
.order-table input {
  font-weight: 400;
  font-size: 1em;
  border: 1px solid currentColor;
  background: white;
  flex: 1;
  display: inline-flex;
  align-items: center;
  min-width: 0;
  padding: 1rem;
  margin: 0;
  appearance: none;
  color: black;
  font-family: inherit;
  -webkit-appearance: none;
}
.order-table input::placeholder {
  color: #cacaca;
}

@media all and (max-width: 600px) {
  .order-table [for=zc] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .order-table [for=zc] input {
    flex: 1 1 auto;
  }
}
.order-table {
  flex: 1 1 100%;
  width: 100%;
}
.order-table,
.order-table table,
.order-table tbody,
.order-table tfoot,
.order-table tr {
  display: block;
}
.order-table tr,
.order-table td,
.order-table th {
  margin: 0;
}
.order-table thead {
  display: none;
}
.order-table tr:not(:last-child) td:last-child {
  border-bottom-width: 0;
}
.order-table tr td:last-child {
  border-top-width: 0;
  padding-top: 0;
}
.order-table td {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.order-table td:not(:last-child) {
  border-width: 1px 1px 0;
}
.order-table td[data-header]::before {
  content: attr(data-header);
  margin: 0.5em 0.25em;
}
.order-table td[data-header]::before > * {
  flex: 0 1 100%;
}
.order-table p {
  margin: 1em 0.25em;
}

.order-table thead {
  display: none;
}
.order-table table > *:last-child tr:last-child {
  border-bottom-width: 1px;
}
.order-table table td:nth-child(1n+1) {
  padding: 1em;
}
.order-table tr {
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  border-width: 1px 1px 0;
  background: white;
}
.order-table tr:nth-child(even) {
  background: #fbfbfb;
}
.order-table td {
  border: none;
  flex: 1 1 100%;
}
.order-table tbody td {
  background: none;
}
.order-table tfoot td {
  flex: 1;
}
.order-table tfoot td:last-child {
  flex: 0 1 auto;
}
.order-table tbody td:first-child {
  padding: 1em 0;
  margin: 0 1em;
  border-bottom: 1px solid;
  font-weight: bold;
  order: -1;
}
.order-table tbody td:not(:first-child) {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-weight: normal;
}
@media all and (min-width: 370px) {
  .order-table tbody td:not(:first-child) {
    flex: 1 1 80px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
  }
}
.order-table tbody td:not(:first-child)::before {
  content: attr(data-eflex--category-label);
  font-size: 80%;
  font-style: italic;
  color: gray;
}

.icon--combobox {
  transform: rotate(0.75turn);
}

.message__group .message__label {
  display: inline-block;
}
.message__group .message__valid, .message__group .message__invalid {
  display: none;
  font-size: 1em;
}
.message [data-required]:not(:placeholder-shown):valid {
  outline-color: currentColor;
  border-color: currentColor;
  color: green;
}
.message [data-required]:not(:placeholder-shown):valid ~ .message__group {
  color: green;
}
.message [data-required]:not(:placeholder-shown):valid ~ .message__group .message__valid {
  display: inline-block;
}
.message [data-required]:not(:placeholder-shown):valid ~ .message__group .message__invalid {
  display: none;
}
.message [data-required]:not(:placeholder-shown):invalid {
  outline-color: currentColor;
  border-color: currentColor;
  color: #c00;
}
.message [data-required]:not(:placeholder-shown):invalid ~ .message__group {
  color: #c00;
}
.message [data-required]:not(:placeholder-shown):invalid ~ .message__group .message__invalid {
  display: inline-block;
}
.message [data-required]:not(:placeholder-shown):invalid ~ .message__group .message__valid {
  display: none;
}
.message__is-valid {
  outline-color: currentColor;
  border-color: currentColor;
  color: green;
}
.message__is-valid ~ .message__group {
  color: green;
}
.message__is-valid ~ .message__group .message__valid {
  display: inline-block;
}
.message__is-valid ~ .message__group .message__invalid {
  display: none;
}
.message__is-invalid {
  outline-color: currentColor;
  border-color: currentColor;
  color: #c00;
}
.message__is-invalid ~ .message__group {
  color: #c00;
}
.message__is-invalid ~ .message__group .message__invalid {
  display: inline-block;
}
.message__is-invalid ~ .message__group .message__valid {
  display: none;
}
.message__is-invalid[data-required]:not(:placeholder-shown):valid {
  outline-color: currentColor;
  border-color: currentColor;
  color: #c00;
}
.message__is-invalid[data-required]:not(:placeholder-shown):valid ~ .message__group {
  color: #c00;
}
.message__is-invalid[data-required]:not(:placeholder-shown):valid ~ .message__group .message__invalid {
  display: inline-block;
}
.message__is-invalid[data-required]:not(:placeholder-shown):valid ~ .message__group .message__valid {
  display: none;
}
.message .message__select [data-required]:valid, .message .message__select [data-required]:invalid {
  color: currentColor;
}
.message__group {
  order: 1;
}

.requiredIcon {
  color: #c00;
  margin-right: 0.25em;
}

.validation-summary-errors {
  color: #c00;
  color: #c00;
  margin-top: 1em;
}
.validation-summary-errors > span {
  display: block;
  border-bottom: 1px solid;
  padding-bottom: 1rem;
  margin: 0 0 1rem;
}
.validation-summary-errors > ul {
  list-style: none;
}
.validation-summary-errors > ul > * {
  display: list-item;
  break-inside: avoid;
}
.validation-summary-errors > ul > *:not(:last-child) {
  margin-bottom: 1rem;
}
.validation-summary-errors > ul > *::before {
  display: inline-block;
  content: "•";
  margin-left: -1em;
  width: 1em;
}
.validation-summary-errors li::before {
  background: none;
  color: currentColor;
}

.payment {
  font-size: 1rem;
}
.payment__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.16em;
  margin: -0.16em;
}
.payment__item {
  display: inline-block;
  flex: 0 1 4em;
  margin: 0.16em;
  max-width: 4em;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  align-items: center;
}
.payment__item--span {
  width: 100%;
  max-width: 17em;
  flex: 1 1 3.25em;
}
.payment img {
  display: block;
  max-width: 100%;
  margin: auto;
  width: 100%;
  height: auto;
  left: 0;
  right: 0;
}

.payment--form img {
  display: inline-block;
  flex: 0 1 4em;
  margin: 0.16em;
  max-width: 4em;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  align-items: center;
}
.payment--form img--span {
  width: 100%;
  max-width: 17em;
  flex: 1 1 3.25em;
}
.payment--form .payment__group {
  justify-content: flex-start;
}

.offer-details {
  background: white;
  padding: 2rem;
  border: 1px solid;
  text-align: left;
}
.offer-details > * + * {
  margin-top: 1rem;
}

.offer-group {
  position: relative;
}
.offer-group__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  margin: -0.5rem;
  justify-content: center;
}
.offer-group__group > * {
  flex: 0 1 auto;
}
.offer-group__group > * {
  margin: 0.5rem;
}
.offer-group__line {
  flex: 0;
  flex-direction: column;
  font-size: 1.5em;
}
.offer-group__burst {
  flex-basis: 100%;
  text-align: center;
  margin: -1em;
  position: relative;
  z-index: 2;
}

.option {
  display: block;
  background: #e2e2e2;
  padding: 1.5em;
}
.option__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  margin: -0.5rem;
  justify-content: flex-start;
}
.option__group > * {
  flex: 0 1 auto;
}
.option__group > * {
  margin: 0.5rem;
}
@media only screen and (max-width: 1203px) {
  .option__group {
    justify-content: center;
  }
}
.option__price {
  font-size: 1em;
}
.option__strike {
  text-decoration: line-through;
}
.option__caption {
  font: 2.0625em ivypresto-headline, "Times New Roman", serif;
}
.option__product-caption {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-basis: 28em;
  position: relative;
}
@media all and (max-width: 40rem) {
  .option__product-caption {
    font-size: 2.25vw;
  }
}
.option__text {
  flex-basis: 36em;
  position: relative;
}
.option__text .burst {
  position: absolute;
  bottom: 2em;
  right: 3em;
  font-size: 1.4em;
  z-index: 3;
}
@media all and (max-width: 40rem) {
  .option__text .burst {
    font-size: 1em;
    bottom: 6em;
    right: 0.25em;
  }
}
.option__title {
  font: 800 1.875em termina, impact, sans-serif;
  text-transform: uppercase;
}
.option__gifts {
  font: 800 1.25em termina, impact, sans-serif;
  text-transform: uppercase;
  color: #a190cb;
  display: block;
}
.option__copy > * + * {
  margin-top: 1rem;
}
@media all and (min-width: 43.75rem) {
  .option__copy {
    margin-left: 3.25em;
  }
}
.option__includes {
  display: block;
  margin: 1em 0 2em;
}
.option__includes > * + * {
  margin-top: 1rem;
}
.option__includes strong {
  font-size: 1.25em;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 1em;
}
.option__includes ul {
  margin-top: 0.1em;
}
.option__offer {
  align-items: flex-end;
  justify-content: flex-start;
  line-height: 1;
}
.option__price-desc {
  font-size: 1.25em;
}
.option__shipping {
  color: #859fb8;
  font-size: 1.5625em;
}
.option__bonus-caption {
  text-align: center;
  font-size: 0.9375em;
  line-height: 1;
}
.option__bonus-caption > b {
  display: block;
  font: 800 1.3125em termina, impact, sans-serif;
  text-transform: uppercase;
}
.option ul {
  margin-left: 1.7em;
  list-style: none;
}
.option ul > * {
  display: flex;
  break-inside: avoid;
  padding: 0;
}
.option ul > *:not(:last-child) {
  margin-bottom: 1rem;
}
.option ul > *::before {
  display: inline-block;
  content: "•";
  margin-left: -1em;
  width: 1em;
  height: 1em;
  flex: 0 0 1em;
  color: #a190cb;
}
.option ul > *::before {
  display: inline-block;
  content: "";
  margin: 0.5em 0.5em 0 -0.5em;
  width: 0.5em;
  height: 0.5em;
  flex: 0 0 0.5em;
  background: #a190cb;
  border-radius: 100%;
}
@media all and (max-width: 43.75rem) {
  .option__input {
    font-size: 0.7em;
  }
}

[data-src-img$="/images/products/hairstyle-organizer.png"] {
  max-width: 21.25em;
}

[data-src-img$="/images/products/fibers.png"] {
  max-width: 7.5em;
}

.option--set {
  flex-basis: 100%;
}
.option--set .option__caption {
  z-index: 1;
  align-self: center;
}
.option--set .option__product-caption {
  align-items: flex-start;
}
.option--set .option__bonus-caption-group {
  display: flex;
  justify-content: space-between;
  margin: -0.5rem;
}
.option--set .option__bonus-caption-group > * {
  margin: 0.5rem;
}
.option--set .option__organizer {
  display: flex;
  flex-direction: column;
  flex-basis: 30em;
  position: relative;
}
.option--set .option__organizer .burst {
  position: absolute;
  top: 5.5em;
  right: 0;
  z-index: 3;
}
.option--set .option__fibers {
  flex-basis: 14em;
}

[data-src-img$="/images/14.0000/products/fibers-12g.png"] {
  max-width: 7.5em;
}

.option--single {
  flex-basis: 100%;
}
.option--single .option__product {
  flex-basis: 8em;
}
.option--single .option__caption {
  margin: auto;
  flex-basis: 8em;
}

.option--subscription {
  flex-grow: 1;
}
@media all and (min-width: 43.75rem) {
  .option--subscription {
    flex-basis: 10em;
    font-size: 1.375em;
  }
}
.option--subscription .form__label {
  width: 100%;
}
.burst--option {
  font: 800 1.4375em termina, impact, sans-serif;
  background: #a190cb;
  border-color: #a190cb;
}

.burst--value {
  font-size: 0.8em;
  font-size: clamp(12px, 0.8em, 30px);
  background: #859fb8;
  border: none;
  width: 4em;
  max-width: 4em;
  height: 4em;
  text-align: center;
  line-height: 1;
  display: inline-block;
  align-self: center;
  padding-top: 1em;
}
.burst--value > * {
  display: block;
}

.burst--tv {
  display: block;
  width: 6em;
  max-width: 6em;
  height: 6em;
  text-align: center;
  font-size: 0.8em;
  padding-top: 1.5em;
  background: #a190cb;
  border: none;
}
.burst--tv > * {
  display: block;
  width: 100%;
  height: 1em;
}
.burst--tv span {
  font-size: 2.7em;
  line-height: 1;
  margin: -0.2em 0 0.05em;
}

.burst__wrap {
  position: absolute;
  width: 2.9em;
  height: 3.4em;
  border-radius: 50%;
  transform: rotate(-65deg);
  margin: 0;
  display: block;
  left: -2%;
  top: -18%;
  color: black;
}
.burst .burst__text-wrap {
  font-size: 1em;
}
.burst .burst__text-wrap > * {
  font-size: 0.9em;
  display: block;
  height: 4.4em;
  position: absolute;
  width: 0.6em;
  left: 0;
  right: 0;
  top: 0;
  transform-origin: bottom center;
  margin: 0;
}
.burst .char1 {
  transform: rotate(12deg);
}
.burst .char2 {
  transform: rotate(24deg);
}
.burst .char3 {
  transform: rotate(36deg);
}
.burst .char4 {
  transform: rotate(48deg);
}
.burst .char5 {
  transform: rotate(60deg);
}
.burst .char6 {
  transform: rotate(72deg);
}
.burst .char7 {
  transform: rotate(84deg);
}
.burst .char8 {
  transform: rotate(96deg);
}
.burst .char9 {
  transform: rotate(108deg);
}
.burst .char10 {
  transform: rotate(120deg);
}
.burst .char11 {
  transform: rotate(132deg);
}
.burst .char12 {
  transform: rotate(144deg);
}
.burst .char13 {
  transform: rotate(156deg);
}
.burst .char14 {
  transform: rotate(168deg);
}
.burst .char15 {
  transform: rotate(180deg);
}
.burst .char16 {
  transform: rotate(192deg);
}
.burst .char17 {
  transform: rotate(204deg);
}
.burst .char18 {
  transform: rotate(216deg);
}
.burst .char19 {
  transform: rotate(228deg);
}
.burst .char20 {
  transform: rotate(240deg);
}
.burst .char21 {
  transform: rotate(252deg);
}
.burst .char22 {
  transform: rotate(264deg);
}
.burst .char23 {
  transform: rotate(276deg);
}
.burst .char24 {
  transform: rotate(288deg);
}
.burst .char25 {
  transform: rotate(300deg);
}
.burst .char26 {
  transform: rotate(312deg);
}
.burst .char27 {
  transform: rotate(324deg);
}
.burst .char28 {
  transform: rotate(336deg);
}
.burst .char29 {
  transform: rotate(348deg);
}
.burst .char30 {
  transform: rotate(360deg);
}
.burst .char31 {
  transform: rotate(372deg);
}
.burst .char32 {
  transform: rotate(384deg);
}
.burst .char33 {
  transform: rotate(396deg);
}
.burst .char34 {
  transform: rotate(408deg);
}
.burst .char35 {
  transform: rotate(420deg);
}
.burst .char36 {
  transform: rotate(432deg);
}
.burst .char37 {
  transform: rotate(444deg);
}
.burst .char38 {
  transform: rotate(456deg);
}
.burst .char39 {
  transform: rotate(468deg);
}
.burst .char40 {
  transform: rotate(480deg);
}
.burst .char41 {
  transform: rotate(492deg);
}
.burst .char42 {
  transform: rotate(504deg);
}
.burst .char43 {
  transform: rotate(516deg);
}
.burst .char44 {
  transform: rotate(528deg);
}
.burst .char45 {
  transform: rotate(540deg);
}
.burst .char46 {
  transform: rotate(552deg);
}
.burst .char47 {
  transform: rotate(564deg);
}
.burst .char48 {
  transform: rotate(576deg);
}
.burst .char49 {
  transform: rotate(588deg);
}
.burst .char50 {
  transform: rotate(600deg);
}
.burst .char51 {
  transform: rotate(612deg);
}
.burst .char52 {
  transform: rotate(624deg);
}
.burst .char53 {
  transform: rotate(636deg);
}
.burst .char54 {
  transform: rotate(648deg);
}
.burst .char55 {
  transform: rotate(660deg);
}
.burst .char56 {
  transform: rotate(672deg);
}
.burst .char57 {
  transform: rotate(684deg);
}
.burst .char58 {
  transform: rotate(696deg);
}
.burst .char59 {
  transform: rotate(708deg);
}
.burst .char60 {
  transform: rotate(720deg);
}
.burst .char61 {
  transform: rotate(732deg);
}
.burst .char62 {
  transform: rotate(744deg);
}
.burst .char63 {
  transform: rotate(756deg);
}
.burst .char64 {
  transform: rotate(768deg);
}
.burst .char65 {
  transform: rotate(780deg);
}
.burst .char66 {
  transform: rotate(792deg);
}
.burst .char67 {
  transform: rotate(804deg);
}
.burst .char68 {
  transform: rotate(816deg);
}
.burst .char69 {
  transform: rotate(828deg);
}
.burst .char70 {
  transform: rotate(840deg);
}
.burst .char71 {
  transform: rotate(852deg);
}
.burst .char72 {
  transform: rotate(864deg);
}
.burst .char73 {
  transform: rotate(876deg);
}
.burst .char74 {
  transform: rotate(888deg);
}
.burst .char75 {
  transform: rotate(900deg);
}
.burst .char76 {
  transform: rotate(912deg);
}
.burst .char77 {
  transform: rotate(924deg);
}
.burst .char78 {
  transform: rotate(936deg);
}
.burst .char79 {
  transform: rotate(948deg);
}
.burst .char80 {
  transform: rotate(960deg);
}
.burst .char81 {
  transform: rotate(972deg);
}
.burst .char82 {
  transform: rotate(984deg);
}
.burst .char83 {
  transform: rotate(996deg);
}
.burst .char84 {
  transform: rotate(1008deg);
}
.burst .char85 {
  transform: rotate(1020deg);
}
.burst .char86 {
  transform: rotate(1032deg);
}
.burst .char87 {
  transform: rotate(1044deg);
}
.burst .char88 {
  transform: rotate(1056deg);
}
.burst .char89 {
  transform: rotate(1068deg);
}
.burst .char90 {
  transform: rotate(1080deg);
}
.burst .char91 {
  transform: rotate(1092deg);
}
.burst .char92 {
  transform: rotate(1104deg);
}
.burst .char93 {
  transform: rotate(1116deg);
}
.burst .char94 {
  transform: rotate(1128deg);
}
.burst .char95 {
  transform: rotate(1140deg);
}
.burst .char96 {
  transform: rotate(1152deg);
}
.burst .char97 {
  transform: rotate(1164deg);
}
.burst .char98 {
  transform: rotate(1176deg);
}
.burst .char99 {
  transform: rotate(1188deg);
}
.burst .char100 {
  transform: rotate(1200deg);
}

.corner-callout {
  position: absolute;
  right: -2.7em;
  top: -1.7em;
  background: #859fb8;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
  transform: rotate(45deg);
  max-width: 7em;
  line-height: 1;
  text-align: center;
  padding: 2.7em 1em 0.2em;
}

.offer-group__group > * {
  margin: 0;
}

.option--set {
  overflow: hidden;
  position: relative;
}

.content--mbg {
  display: none;
  text-align: center;
}
.content--mbg picture {
  margin: 1em;
}
.content--mbg img {
  margin: auto;
}
.promo-banner {
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.1;
  background: #232323;
  color: white;
}
.promo-banner::selection,
.promo-banner ::selection {
  background: white;
  color: #232323;
}
.promo-banner a:focus,
.promo-banner button:focus,
.promo-banner [tabindex="0"]:focus {
  outline-color: white;
}
.promo-banner b {
  color: #dcddfb;
}
.promo-banner__link {
  color: currentColor;
  text-decoration: underline;
  font: inherit;
  font-style: italic;
}
@media all and (max-width: 56.25rem) {
  .promo-banner__text {
    max-width: 24em;
    margin: auto;
  }
}

.ft {
  text-align: center;
  padding: 2em;
  background: linear-gradient(#a190cb, #6c599a);
  color: white;
}
@media all and (max-width: 72.5rem) {
  .ft {
    font-size: 0.65em;
  }
}
.ft::selection,
.ft ::selection {
  background: white;
  color: linear-gradient(#a190cb, #6c599a);
}
.ft a:focus,
.ft button:focus,
.ft [tabindex="0"]:focus {
  outline-color: white;
}
.ft__first {
  font: 800 2.5em/1.4 termina, impact, sans-serif;
  text-transform: uppercase;
  color: #dcddfb;
  margin: 0.1em 0;
}
.ft__second {
  font-size: 1.625em;
}

.list--stack > * {
  display: block;
  margin: 0.5em 0;
}

.shades {
  font-size: 0.85em;
}
.shades__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  margin: -0.5rem;
  justify-content: center;
}
.shades__group > * {
  flex: 0 1 auto;
}
.shades__group > * {
  margin: 0.5rem;
}
.shades__group > * {
  flex: 0 1 10em;
}
.shades picture {
  max-width: 10em;
  border-radius: 100%;
  overflow: hidden;
  background: #676767;
}
.shades img {
  pointer-events: none;
}
.shades__picture-checkbox {
  flex-basis: 8em;
  display: inline-block;
}
.slide__into {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin: 0.25rem;
  border-color: #252525;
  contain: content;
  scroll-behavior: smooth;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
}
.slide__into::-webkit-scrollbar {
  width: 0.25em;
  height: 0.25em;
  background: #d7d7d7;
}
.slide__into::-webkit-scrollbar-thumb {
  background: black;
}
.slide__item {
  display: flex;
  align-items: center;
  flex: 1 0 100%;
  scroll-snap-align: start;
  position: relative;
}
.slide img {
  display: block;
  object-fit: cover;
  height: auto;
  max-width: 100%;
}
.slide .slide__video {
  align-items: center;
}
.slide .slide__video img {
  height: auto;
  bottom: 0;
  margin: auto;
}
.slide__is-hidden {
  display: none;
}
.slide--vertical .slide__into {
  flex-direction: column;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
}
.slide .slide__into--no-scroll {
  overflow: hidden;
}
.slide__caption {
  position: absolute;
  bottom: 1em;
  left: 0;
  display: flex;
  justify-content: center;
  right: 0;
}
.slide__caption__text {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  font-size: 1.1em;
  padding: 0.25em 1em;
  border-radius: 2em;
  text-align: center;
  min-width: 10em;
  box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.5);
}

.slide {
  position: relative;
}
.slide__into {
  z-index: 1;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.slide__into::-webkit-scrollbar {
  height: 0.5em;
  background: rgba(0, 0, 0, 0.2);
}
.slide__into::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}
.slide--no-scrollbar .slide__into {
  scrollbar-width: none;
}
.slide--no-scrollbar .slide__into::-webkit-scrollbar {
  display: none;
}
.slide__item,
.slide__item img {
  margin: 0;
}
.slide__next {
  transform: rotate(0.5turn);
}
.slide__nav {
  left: 0;
  right: 0;
  z-index: 1;
  bottom: 0;
  top: 0;
  margin: auto;
  height: 5em;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}
.slide__nav button {
  opacity: 0;
  color: currentColor;
  padding: 0.05em;
  font-size: 3em;
  position: relative;
  z-index: 2;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 100ms linear, color 100ms linear, opacity 250ms ease-in-out 1s;
}
.slide__nav button:hover, .slide__nav button:focus {
  background: black;
  border-color: white;
  color: white;
}
.slide__nav button:focus {
  outline-color: black;
}
@media all and (min-width: 68.75rem) {
  .slide__nav {
    position: absolute;
  }
}
@media all and (min-width: 68.75rem) {
  .slide__nav--extend .slide__prev {
    left: -2em;
  }
  .slide__nav--extend .slide__next {
    right: -2em;
  }
}
.slide__thumbnails {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
  justify-content: center;
  margin: 0.5em;
  margin: -0.5rem;
}
.slide__thumbnails > * {
  margin: 0.5rem;
}
.slide__thumbnail {
  position: relative;
  flex: 1;
}
.slide__thumbnail:focus {
  outline-color: black;
}
.slide__thumbnail::before, .slide__thumbnail::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.slide__thumbnail::before {
  background: whitesmoke;
  opacity: 1;
}
.slide__thumbnail::after {
  display: block;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
.slide__thumbnail--is-selected::after {
  opacity: 1;
}
.slide__dot {
  width: 0.5em;
  height: 0.5em;
  margin: 0.5em;
  font-size: 4rem;
  border-radius: 0.5em;
  border: 1px solid gray;
  overflow: hidden;
  flex: 0 0 0.5em;
  transition: transform 0.3s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.slide__dot:focus {
  -webkit-mask-image: none;
}
.slide--is-ready .slide__nav button {
  opacity: 1;
  pointer-events: all;
}

@media all and (max-width: 68.75rem) {
  .slide__nav {
    width: 70%;
    flex: 1 100%;
    justify-content: center;
    margin-bottom: 1rem;
    position: relative;
  }
  .slide__prev {
    left: 0;
  }
  .slide__next {
    right: 0;
  }
}
.slide__nav {
  height: 4em;
}
.slide__nav button {
  font-size: 2.5em;
}

.contain--instagram-picture::before {
  padding-bottom: calc(100% / (1));
}

@media all and (min-width: 60rem) {
  .slide--instagram {
    font-size: 1vw;
  }
}
.slide--instagram .slide__item {
  max-width: 100%;
}
.slide--instagram .slide__item:nth-child(even) {
  background: #232323;
}
.slide--instagram .slide__item:nth-child(odd) {
  background: #676767;
}
@media all and (min-width: 20rem) {
  .slide--instagram .slide__item {
    max-width: 50%;
  }
}
@media all and (min-width: 40rem) {
  .slide--instagram .slide__item {
    max-width: 33.3333333333%;
  }
}
@media all and (min-width: 60rem) {
  .slide--instagram .slide__item {
    max-width: 20em;
    max-height: 20em;
  }
}
.slide--instagram .slide__item img {
  width: 100%;
}

/*# sourceMappingURL=page.css.map */
