@use "../../Shared/css/template/dtm/utils/scope";
@use "../templates/dtm";

@include scope.for-template {
	@include dtm.layout;
	@include dtm.confirmation-table;
}

.dtm__in .l-outer__in {
  max-width: 900px;
  margin: auto;
}

.dtm .c-banner,
.dtm .c-banner__item {
    padding: 0;
}

.dtm .c-banner {
    border: none;
	background: none;
}

.header .view__in {
    padding: 1em;
}

#content_top {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
}

.header__tagline {
    margin: 0.5em;
}