.header {
  font-size: 1rem;
  text-transform: uppercase;
}
.header__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__center {
  justify-content: center;
}
.header__logo {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
}
.header__tagline {
  margin: 0 auto 0 1em;
  font-size: 1.6em;
  font-weight: 500;
}
@media all and (max-width: 1200px) and (orientation: portrait) {
  .header__tagline {
    font-size: 1.3em;
  }
}
.header .section__in {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media all and (max-width: 1200px) {
  .header {
    display: none;
  }
}

.title {
  font: 3.2em/1.1 gotham, sans-serif;
  text-align: center;
  font-weight: 900;
  color: #258a9e;
}
.title > span {
  display: block;
}
.title--sub {
  color: #2e3034;
  font-weight: 500;
  font-size: 0.55em;
}

.logo__picture {
  flex: 1;
}
.logo__picture::after {
  display: none;
}

.logo__picture::before {
  padding-bottom: calc(100% / (1.8717948718));
}

.logo__picture {
  max-width: 146px;
  flex-basis: 146px;
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
}
.logo__picture::before, .logo__picture::after {
  content: "";
}
.logo__picture::before {
  display: block;
}
.logo__picture::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: -1;
}
.logo__picture > img, .logo__picture > iframe, .logo__picture > noscript, .logo__picture > svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.dtm .dtm__in .button--header {
  padding: 0.75em;
  font-size: 1em;
  border: none;
}

.header--alt {
  border-bottom: 1px solid #8d8d8d;
}
.header--alt .header__tagline {
  font-size: 2em;
  font-weight: 600;
}
@media all and (max-width: 1200px) {
  .header--alt .section__in {
    padding: 0;
  }
  .header--alt .header__tagline {
    display: none;
  }
}

.nav.nav--alt {
  background: black;
  color: white;
  position: sticky;
  top: 0;
}

@media all and (min-width: 1200px) {
  .nav--alt .nav__pane {
    border-bottom: none;
  }
  .nav--alt .nav__pane::before,
.nav--alt .nav__pane::after,
.nav--alt .nav__underlay {
    background: black;
  }
  .nav--alt .nav__list > a {
    padding: 0 1.33em;
  }
}
@media all and (max-width: 1200px) {
  .nav--alt .nav__toggle:checked ~ .nav__pane .nav__logo {
    display: block;
  }
  .nav--alt .nav__toggle:checked ~ .nav__pane .nav__logo img {
    filter: brightness(0);
  }
  .nav--alt .nav__list {
    color: black;
  }
}
.nav--alt .nav__logo {
  display: none;
}
.nav--alt .nav__label {
  border-color: white;
}

@-webkit-keyframes is-hidden {
  0% {
    visibility: visible;
    transform: translate(0);
    opacity: 1;
  }
  99% {
    transform: translateX(0);
    opacity: 0;
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes is-hidden {
  0% {
    visibility: visible;
    transform: translate(0);
    opacity: 1;
  }
  99% {
    transform: translateX(0);
    opacity: 0;
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@-webkit-keyframes is-visible {
  0% {
    visibility: visible;
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes is-visible {
  0% {
    visibility: visible;
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
    visibility: visible;
  }
}
@-webkit-keyframes toggle-visibility {
  from {
    visibility: visible;
    pointer-events: none;
  }
  to {
    visibility: hidden;
    pointer-events: none;
  }
}
@keyframes toggle-visibility {
  from {
    visibility: visible;
    pointer-events: none;
  }
  to {
    visibility: hidden;
    pointer-events: none;
  }
}
.nav {
  z-index: 6;
  font-size: 1.8rem;
  top: 0;
}
.nav__pane, .nav__underlay {
  top: 0;
  bottom: 0;
}
.nav, .nav__pane, .nav__underlay, .nav__drop__group {
  left: 0;
  right: 0;
}
.nav__title {
  align-self: center;
  padding: 0 1em;
}
.nav__pane {
  border-color: #666666;
  background: white;
}
.nav__pane, .nav__underlay {
  height: auto;
}
.nav__underlay {
  will-change: opacity;
  content: "";
  pointer-events: none;
  -webkit-transition: opacity 0.3s cubic-bezier(0, 0, 0.31, 1);
  transition: opacity 0.3s cubic-bezier(0, 0, 0.31, 1);
  background: rgba(255, 255, 255, 0.8);
}
@media (prefers-reduced-motion: reduce) {
  .nav__underlay {
    -webkit-transition: none;
    transition: none;
  }
}
.nav__underlay, .nav__toggle, .nav__drop__group {
  opacity: 0;
}
.nav__underlay, .nav__drop__group {
  box-sizing: border-box;
  width: 100%;
}
.nav__title, .nav__group, .nav__menu, .nav__menu--scroll {
  display: flex;
}
.nav__pane, .nav__menu--scroll {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.nav__menu--scroll::-webkit-scrollbar {
  display: none;
  width: 0.25em;
  height: 0.25em;
  background: #d6d6d6;
}
.nav__menu--scroll:hover::-webkit-scrollbar {
  display: block;
}
.nav__menu--scroll::-webkit-scrollbar-thumb {
  background: black;
}
.nav__menu--stack .nav__list {
  flex-wrap: wrap;
}
.nav__menu--stack .nav__list > a {
  flex: 1 1 100%;
  justify-content: flex-start;
}
.nav__group {
  flex-wrap: nowrap;
}
.nav__title, .nav__group, .nav__menu {
  justify-content: space-between;
}
.nav__list {
  flex: 1 1 auto;
  align-items: center;
}
.nav__drop__group {
  background: #e6e6e6;
  color: currentColor;
  -webkit-animation: toggle-visibility 0.3s step-end forwards;
  animation: toggle-visibility 0.3s step-end forwards;
  position: absolute;
  z-index: 100;
  max-height: 100vh;
  overflow: auto;
}
.nav__drop__toggle, .nav__drop {
  width: 100%;
  position: relative;
}
.nav__drop__toggle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: inherit;
  font: inherit;
  border: inherit;
  background: inherit;
  color: inherit;
  z-index: 2;
}
.nav__drop__toggle:focus, .nav__drop__toggle:hover {
  text-decoration: underline;
}
.nav__drop__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e6e6e6;
  opacity: 0;
  transform: translateY(100%);
  z-index: -1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .nav__drop__toggle::before {
    transition: none;
  }
}
.nav__drop__toggle > span {
  position: relative;
}
.nav__drop__toggle[aria-expanded=true], .nav__drop__toggle:hover, .nav__drop__toggle:focus {
  color: currentColor;
}
.nav__drop__toggle[aria-expanded=true]::before, .nav__drop__toggle:hover::before, .nav__drop__toggle:focus::before {
  opacity: 1;
  transform: translateY(0);
}
.nav__drop:focus-within > .nav__drop__toggle {
  color: currentColor;
}
.nav__drop:focus-within > .nav__drop__toggle::before {
  opacity: 1;
  transform: translateY(0);
}
.nav__toggle {
  position: absolute;
}
.nav__label {
  width: 3.5em;
  height: 3.5em;
  background: none;
  border-width: 0;
  cursor: pointer;
  border-color: black;
  position: relative;
  z-index: 3;
  margin-left: auto;
  transform: scale(0.75);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  will-change: transform;
  overflow: hidden;
}
.nav__label::before, .nav__label::after, .nav__label span {
  display: block;
}
.nav__label::before, .nav__label::after, .nav__label span {
  content: "";
  border: 0.075em solid;
  border-color: inherit;
  -webkit-transform-origin: left;
  transform-origin: left;
  width: 100%;
}
.nav__label::before, .nav__label::after {
  transition: transform 0.3s cubic-bezier(0, 0, 0.31, 1);
}
@media (prefers-reduced-motion: reduce) {
  .nav__label::before, .nav__label::after {
    transition: none;
  }
}
.nav__drop__group, .nav__label span {
  -webkit-transition: opacity 0.3s cubic-bezier(0, 0, 0.31, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.31, 1);
  transition: opacity 0.3s cubic-bezier(0, 0, 0.31, 1), transform 0.3s cubic-bezier(0, 0, 0.31, 1);
}
@media (prefers-reduced-motion: reduce) {
  .nav__drop__group, .nav__label span {
    transition: none;
  }
}
.nav__label::before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.nav__label::after {
  -webkit-transform: scaleX(0.6);
  transform: scaleX(0.6);
}
.nav__label span {
  margin: 0.45em 0;
  -webkit-transform: scaleX(0.85);
  transform: scaleX(0.85);
}
.nav__toggle:checked ~ .nav__label::before, .nav__toggle:checked ~ .nav__label::after, .nav__label--is-selected::before, .nav__label--is-selected::after {
  transform-origin: center;
}
.nav__toggle:checked ~ .nav__label::before, .nav__label--is-selected::before {
  transform: scaleX(1) rotateZ(45deg) translate(0.4em, 0.4em);
}
.nav__toggle:checked ~ .nav__label::after, .nav__label--is-selected::after {
  transform: scaleX(1) rotateZ(-45deg) translate(0.4em, -0.4em);
}
.nav__toggle:checked ~ .nav__label span, .nav__label--is-selected span {
  transform: translateX(100%);
  opacity: 0;
}
.nav__toggle:checked ~ .nav__pane, .nav__label--is-selected ~ .nav__pane, .nav [aria-expanded=true] ~ .nav__drop__group {
  -webkit-animation: none;
  animation: none;
  -webkit-transform: translate(0);
  transform: translate(0);
}
.nav__drop__toggle[aria-expanded=true]:focus-within ~ .nav__drop__group {
  -webkit-animation: none;
  animation: none;
  -webkit-transform: translate(0);
  transform: translate(0);
}
.nav__toggle:checked ~ .nav__pane, .nav__label--is-selected ~ .nav__pane, .nav__toggle:checked ~ .nav__underlay, .nav__label--is-selected ~ .nav__underlay, .nav [aria-expanded=true] ~ .nav__drop__group, .nav__drop__toggle[aria-expanded=true]::before {
  opacity: 1;
}
.nav__drop__toggle[aria-expanded=true]:focus-within ~ .nav__drop__group {
  opacity: 1;
}
.nav__toggle:checked ~ .nav__underlay, .nav__label--is-selected ~ .nav__underlay {
  pointer-events: auto;
}
.nav a {
  text-decoration: none;
}
.nav a:focus, .nav a:hover {
  text-decoration: underline;
}

.nav {
  background: white;
  box-shadow: 0 0 1.25em rgba(0, 0, 0, 0.35);
  font-size: 1rem;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  margin: 0;
  transition: transform 0.15s ease-in-out;
}
.nav__deal .offer__price {
  font-size: 1.7em;
}
.nav--is-hidden {
  transform: translateY(-100%);
}
.nav__pane {
  position: relative;
}
.nav__pane::before, .nav__pane::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 0.3s ease-in-out;
}
.nav__pane::before {
  background: white;
}
.nav__group {
  flex-wrap: wrap;
  justify-self: center;
  position: relative;
  z-index: 1;
}
.nav__list, .nav__title {
  flex: 1 1 100%;
}
.nav__header {
  flex: 1 1 100%;
  padding: 2em 0;
}
.nav__title {
  margin: auto;
  align-items: center;
}
.nav__title h1 {
  font: 4em/1 gotham, sans-serif;
  color: #258a9e;
}
.nav__title h1 > span {
  display: block;
}
.nav__title h1 strong {
  font: 1em/1 gotham, sans-serif;
}
.nav__list {
  font: 1.5em/1 gotham, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav__list > a {
  display: block;
  padding: 0.25em;
}
.nav__list > .nav__logo {
  padding: 0;
}
.nav__logo {
  flex: 0 1 auto;
}

@media all and (max-width: 1200px) {
  .nav__pane, .nav__underlay {
    position: fixed;
    height: 100vh;
  }
  .nav__pane {
    width: 75vw;
    z-index: 3;
    box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.3);
    will-change: opacity, transform;
    opacity: 0;
    overflow-y: auto;
    -webkit-animation: toggle-visibility 0.3s step-end forwards;
    animation: toggle-visibility 0.3s step-end forwards;
    -webkit-transition: opacity 0.3s cubic-bezier(0, 0, 0.31, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.31, 1);
    transition: opacity 0.3s cubic-bezier(0, 0, 0.31, 1), transform 0.3s cubic-bezier(0, 0, 0.31, 1);
  }
}
@media (max-width: 1200px) and (prefers-reduced-motion: reduce) {
  .nav__pane {
    transition: none;
  }
}
@media all and (max-width: 1200px) {
  .nav__pane, .nav__drop__group {
    -webkit-transform: translateX(-103%);
    transform: translateX(-103%);
  }
}
@media all and (max-width: 1200px) {
  .nav__group, .nav__menu--scroll {
    flex-wrap: wrap;
  }
}
@media all and (max-width: 1200px) {
  .nav__title, .nav__group, .nav__menu, .nav__menu--scroll, .nav__list, .nav__drop__toggle {
    width: 100%;
    flex: 1 1 100%;
  }
}
@media all and (max-width: 1200px) {
  .nav__list {
    border-top: 0.03em solid currentColor;
  }
}
@media all and (max-width: 1200px) {
  .nav__list > a, .nav__drop > .nav__drop__toggle, .nav__drop {
    flex: 1 1 100%;
    text-align: left;
    justify-content: flex-start;
  }
}
@media all and (min-width: 1200px) {
  .nav, .nav__list > a {
    text-align: center;
  }
  .nav__label, .nav__underlay {
    display: none;
  }
  .nav__toggle {
    visibility: hidden;
  }
  .nav__menu--scroll {
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    justify-content: flex-start;
    align-items: center;
  }
  .nav__menu {
    flex-wrap: nowrap;
  }
  .nav__menu, .nav__group {
    flex: 1 1;
  }
  .nav__drop:hover > .nav__drop__group, .nav__drop__toggle[aria-expanded=true] + .nav__drop__group {
    -webkit-animation: none;
    animation: none;
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1;
    pointer-events: all;
  }
  .nav__drop__group {
    -webkit-transform: translateY(-5%);
    transform: translateY(-5%);
    pointer-events: none;
  }
  .nav__menu--scroll {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .nav__drop__toggle {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
  }
  .nav__list > a, .nav__drop {
    flex: 1 0 auto;
    justify-content: center;
  }
}
@media all and (min-width: 1200px) {
  .nav {
    position: relative;
    overflow: hidden;
    margin: 0;
  }
  .nav > .nav__logo, .nav__title {
    display: none;
  }
  .nav__logo, .nav__deal {
    opacity: 0;
    visibility: hidden;
  }
  .nav__link {
    border-right: 2px solid white;
  }
  .nav__link:last-of-type {
    border-right: none;
  }
  .nav__label span,
.nav__label ::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    background: black;
  }
  .nav__pane {
    border-bottom: 0.15rem solid white;
    color: white;
  }
  .nav__pane::after {
    background: #258a9e;
  }
  .nav__pane a:focus {
    outline-color: white;
  }
  .nav--is-primed .nav__logo, .nav--is-primed .nav__deal {
    -webkit-animation: is-hidden 0.3s ease-in-out forwards;
    animation: is-hidden 0.3s ease-in-out forwards;
  }
  .nav--is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
  }
  @supports (position: sticky) {
    .nav--is-fixed {
      position: sticky;
    }
  }
  .nav--is-fixed a:focus {
    outline: none;
  }
  .nav--is-fixed .nav__list {
    opacity: 1;
    transform: translateX(0);
  }
  .nav--is-fixed .nav__link--order {
    display: none;
  }
  .nav--is-fixed .nav__logo img {
    filter: brightness(0) invert(1);
  }
  .nav--is-fixed .nav__logo, .nav--is-fixed .nav__deal {
    -webkit-animation: is-visible 0.3s ease-in-out forwards;
    animation: is-visible 0.3s ease-in-out forwards;
  }
}
@media all and (max-width: 1200px) {
  .nav {
    padding: 0.75em 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media all and (max-width: 1200px) and (orientation: portrait) {
  .nav {
    padding: 0.75em;
  }
}
@media all and (max-width: 1200px) {
  .nav .nav__logo {
    margin-left: 1.25em;
    padding-left: 0;
  }
}
@media all and (max-width: 1200px) {
  .nav > .nav__logo {
    flex-basis: 9em;
  }
}
@media all and (max-width: 1200px) {
  .nav__list > .nav__logo {
    flex-basis: 5em;
  }
}
@media all and (max-width: 1200px) {
  .nav__label {
    font-size: 1.5em;
    width: 2.5em;
  }
}
@media all and (max-width: 1200px) {
  .nav__toggle:checked ~ .nav__label {
    border-color: #258a9e;
  }
}
@media all and (max-width: 1200px) {
  .nav__pane .nav__logo {
    margin: 1em;
  }
  .nav__pane .nav__title {
    padding: 0 0.5em 1em;
  }
}
@media all and (max-width: 1200px) {
  .nav .title--sub {
    font-size: 0.5em;
    margin-top: 1em;
    line-height: 1.5;
  }
}
@media all and (max-width: 1200px) {
  .nav .nav__link {
    padding: 1.5em 1em;
    order: 1;
  }
}
@media all and (max-width: 1200px) {
  .nav__deal {
    display: none;
    border: solid #2e3034;
    border-width: 1px 0;
    background: #258a9e;
    color: white;
    flex: 1 1 100%;
    padding: 1em;
  }
}
@media all and (max-width: 1200px) {
  .nav__title {
    text-align: left;
    display: block;
    font-size: 1.5em;
  }
}
@media all and (max-width: 1200px) {
  .nav__list {
    flex-wrap: wrap;
    justify-content: flex-start;
    border: none;
  }
}
@media all and (min-width: 1200px) {
  .nav__tagline {
    display: none;
  }
}
.footer {
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.footer__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: left;
  margin: 1em -1em;
}
.footer__group > * {
  margin: 1em 0;
  flex: 1 1 100%;
}
@media all and (max-width: 780px) {
  .footer__group > nav,
.footer__group > address {
    flex-grow: 1;
  }
}
.footer__group > .footer__divide {
  flex: 0 0 1px;
  align-self: stretch;
}
@media all and (max-width: 780px) {
  .footer__group > .footer__divide {
    height: 1px;
    flex: 1 1 100%;
  }
}
.footer__divide {
  background: currentColor;
}
.footer nav a:not(:hover):not(:focus) {
  text-decoration: none;
}
.footer__disclaimer {
  border: 1px solid currentColor;
  padding: 2em;
  text-align: left;
}
.footer__copyright {
  text-align: center;
}

.list {
  list-style: none;
  margin: 0 -2em;
  overflow: hidden;
}
@media all and (max-width: 1200px) {
  .list {
    column-width: 20em;
    column-rule: 1px solid;
  }
}
.list li {
  break-inside: avoid;
  margin: 0 2em;
}
@media all and (min-width: 1200px) {
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .list li {
    margin: 0 0 1em;
    padding: 0 2em;
    display: inline-block;
    border-right: 1px solid white;
  }
  .list li:last-child {
    border-right: none;
  }
}
.list--stack li {
  flex: 0 1 100%;
  margin: 0.3em 0;
}

/*# sourceMappingURL=shell.css.map */
