@use "sass:math";
@use "../../Shared/css/template/dtm/utils/arp";
@use "../../Shared/css/template/dtm/utils/text";
@use "../models/queries";
@use "../models/colors";
@use "../models/fonts";

$select: ".popup" !default;

@mixin ui {
    #{$select} {
        @include fonts.first(1em, 1);

        &__group {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: flex-start;
            max-width: 1000px;
        }

        &__item {
            display: flex;
            flex: 1 100%;
        }

        @supports (display: flex) {
            &__item {
                display: grid;
            }
        }

        @media all and (min-width: queries.get(desktop)) {
            &__item {
                flex: 1 50%;
            }
        }

        &__item--full,
        &__label {
            flex-basis: 100%;
        }

        &__label {
            text-align: center;
            font-size: 1.2em;
            font-weight: bold;
            color: #7e7e7e;
            background: white;
            padding: 0.25em;
            display: inline-block;
            position: relative;
            z-index: 2;
            max-width: 19rem;
        }

        &__label + hr {
            display: block;
            width: 100%;
            height: 2px;
            display: block;
            background: #7e7e7e;
            margin: -1.2em 0 0;
            position: relative;
            z-index: 1;
        }

        & &__title {
            color: black;
        }

        &__img {
            flex: 0 1 150px;
            margin: 0 1em 0 0;
        }

        &__text {
            flex: 1;
        }

        @media all and (max-width: queries.get(mobile)) {
            &__item {
                flex-wrap: wrap;
                border-bottom: 1px solid #ccc;
                padding-bottom: 1em;
                text-align: center;
            }

            &__img {
                margin: 1em auto;
            }
        }

        @media all and (min-width: queries.get(mobile)) {
            &__item {
                grid-template-rows: auto auto;
                grid-template-columns: 1fr 3fr;
            }
            &__img {
                grid-row: 1 / 3;
                justify-self: center;
            }
            &__title {
                align-self: end;
                margin: 0 0 0.25em;
            }
        }

        @media all and (max-width: queries.get(mobile)) {
            &__item:not(&__item--full) {
                grid-template-rows: auto auto;
                grid-template-columns: 1fr 1r;
                align-items: center;
                text-align: center;
            }

            &__item:not(&__item--full) &__desc {
                grid-column: 1 / 3;
                padding: 0.5em 0;
            }

            &__item &__title {
                align-self: center;
                padding: 0.25em;
                font-size: 1.1em;
            }
        }
    }
}

.shade {
    @include arp.apply(".shade__img", math.div(1, 1), 95px) {
        border: 1px solid white;
    }
    img {
        margin: 0;
    }
    flex: 0 1 95px;
    figcaption {
        text-transform: uppercase;
        font-size: 0.9em;
        font-weight: bold;
    }
}

.dtm .shade {
    margin: 0.5em;
}

.theme--dark .shade {
    .shade__img {
        border: 1px solid white;
    }
}
